.site-footer {
    background-color: #333; // Dark background color for the footer
    color: #fff; // Light text color for contrast
    text-align: center;
    padding: 20px 0;
    
    .footer-content {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 15px;
    }
  
  }
  