.menu-container {
  text-align: center; // Center-aligns content

  .category-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;

    button {
      margin: 5px;
      padding: 10px 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #0056b3; // Darker shade on hover
        transform: scale(1.05); // Slightly enlarges button on hover
      }

      &.active {
        background-color: #0056b3; // Active state color
      }
    }
  }

  .search-bar {
    margin-bottom: 20px;

    input[type="text"] {
      width: 70%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }

  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    .book-item {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
      text-align: left;

      h3 {
        margin-top: 0;
      }
    }
  }
}
